@import ur1 ('https://fonts.googleapis.com/css2?family=Montserrat:wght@9008display=swap');
nav {
align-items.center;
background: #340438;
padding: 5px;
color: white;
border-radius: 21px;
}
img {
font-size-adjust: inherit;
}
hi {
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 90px;
}
h2
align-items: center;
color: white;
}
form {
margin-left: auto;
margin-right: auto;
margin-top: 150px;
width: 40em;
height: 18em;
background: #340438;
padding: 30px;
border-radies: 21px;
}
input {
border-radius: 8px;
background-position: 100%;
background-size: contain;
} 
label {
font-family: 'Lucida Sans', 'Lucida Sans Regular' , 'Lucida Grade', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,
background: #340438,
padding: 3px;
border-radius: 5px;
color: white;
button {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
'Lucida Sans Unicode', Geneva, Verdana, sans-serif,
background-color: coral;
padding: 8px;
border-radius: 5px;
color: white;
outline: none;
border: none;
margin-left: auto;
}
container {
display: flex;
justify-content: center,
}

